<div class="row">
<div class="col s12 m12 l6">
<div class="card">
  <div class="card-image">
    <img src="{{spaceimgurl}}">
    <span class="card-title">What is Atlas?</span>
  </div>
  <div class="card-content">
    <p>Atlas is a data visulization service producing powerful insights while leveraging open data sets such as the World Data Bank. You are able to compare contries and historic data giving you the ability to capture historic trends.</p>
  </div>
</div>
</div>
<div class="col s12 m12 l6">
<div class="card">
  <div class="card-image">
    <img src="{{astroimgurl}}">
    <span class="card-title">Who are we?</span>
  </div>
  <div class="card-content">
    <p>The Atlas team is composed of four creative software developers with a wide array of skills. This unique combination of people has allowed us to create a the next generation of open data visualization.</p>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col s12 m12 l6">
<div class="card">
  <div class="card-image">
    <img src="{{nightimgurl}}">
    <span class="card-title">How to use Atlas.</span>
  </div>
  <div class="card-content">
    <p>Atlas strives to be accessable and easy to use by curious minds around the world. By selecting one of our suppored open data sets at the top of this page, you will be directed to fill out a form. Once the form has been completed our data visulization will display the available data in a visually appleaing way. Click <a [routerLink]="['/world-data-bank']">here</a> to get started.</p>
  </div>
</div>
</div>

<div class="col s12 m12 l6">
<div class="card">
  <div class="card-image">
    <img src="{{rocketimgurl}}">
    <span class="card-title">Resources used?</span>
  </div>
  <div class="card-content">
    <p>Atlas was built with ....</p>
  </div>
</div>
</div>
</div>

<div class="container">
  <div class="center-align">
    <i class="material-icons glyphSize">assessment</i>
    Built by the Atlas Team
    <i class="material-icons glyphSize">assessment</i>
  </div>
</div>
