<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="{{waterfallimgurl}}">
      <span class="card-title">What is Atlas?</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="{{riverimgurl}}">
      <span class="card-title">How to Use Atlas</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="{{caravanimgurl}}">
      <span class="card-title">Who we are</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="{{winterimgurl}}">
      <span class="card-title">Resources Used</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>

