<div class="col s12 m7">
<div class="card">
  <div class="card-image">
    <img src="{{spaceimgurl}}">
    <span class="card-title"><h1>Atlas</h1></span>
  </div>
  <div class="card-content">
    <b>What is Atlas?</b>
    <p>Atlas is a data visulization service producing powerful insights while leveraging open data sets such as the World Data Bank. You are able to compare contries and historic data giving you the ability to capture historic trends.</p>
    <br>
    <b>Who are we?</b>
    <p>The Atlas team is composed of four creative software developers with a wide array of skills. This unique combination of people has allowed us to create a the next generation of open data visualization.</p>
    <br>
    <b>How to use Atlas?</b>
    <p>Atlas strives to be accessable and easy to use by curious minds around the world. By selecting one of our suppored open data sets at the top of this page, you will be directed to fill out a form. Once the form has been completed our data visulization will display the available data in a visually appleaing way.</p>
    <br>
    <b>Resources Used?</b>
    <p>Atus was built with ....</p>
  </div>
</div>
</div>

<div class="container">
  <div class="center-align">
    <i class="material-icons">equalizer</i>
    Built by the Atlas Team
    <i class="material-icons">equalizer</i>
  </div>
</div>
