<nav>
	<div class="nav-wrapper teal">
    <a class="hide-on-med-and-down" [routerLink]="['/']"><img src="{{logoimgurl}}"></a>
	   <a [routerLink]="['/']" class="brand-logo" style="margin-left:1%">{{title}}</a>
	  <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a [routerLink]="['/']">{{title}}</a></li>
	    <li><a [routerLink]="['/world-data-bank']">World Data Bank</a></li>
	  </ul>
	  <ul materialize="sideNav" class="side-nav" id="mobile-demo">
	    <li><a [routerLink]="['/']">{{title}}</a></li>
	    <li><a [routerLink]="['/world-data-bank']">World Data Bank</a></li>
	  </ul>
	</div>
</nav>
<div materialize class="container">
<router-outlet></router-outlet>
</div>
