<div materialize class="container">
  <form class="col m12">
    <div class="row">
      <div class="col m12">{{inputErrors}}</div>
    </div>
    <div class="row">
      <div class="input-field col m12">
        <form>
          <input [(ngModel)]="inputCountries" (keyup)="countriesInputChanged($event)" placeholder="Country"
                 id="inputCountries"
                 type="text" class="validate" autocomplete="off">
          <ul>
            <li class="dropDownList" (click)="countriesInputClicked(suggestCountry)"
                *ngFor="let suggestCountry of inputCountriesSuggestions">{{suggestCountry.name}}
            </li>
          </ul>
          <label for="inputCountries">Countries</label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m12">
        <select [(ngModel)]="indicator" id="indicators" materialize="material_select"
                [materializeSelectOptions]="selectOptions">
          <option disabled>Select an Indicator</option>
          <option *ngFor="let indicator of indicators" [value]="indicator.id">{{indicator.name}}</option>
        </select>
        <label for="indicators">Indicators</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6">
        <label for="from">From (Year)</label>
        <input id="from" [(ngModel)]="startDate"
               materialize=""
               type="number"/>
      </div>
      <div class="input-field col m6">
        <label for="to">To (Year)</label>
        <input id="to" [(ngModel)]="endDate"
               materialize=""
               type="number"/>
      </div>
    </div>
    <div class="row">
      <button (click)="generateRequest()" class="btn waves-effect waves-light" type="submit" name="action">Generate
        Chart
        <i class="material-icons right">sentiment_very_satisfied</i>
      </button>
    </div>
  </form>
</div>
<div *ngIf="loading" class="cssload-thecube">
  <div class="cssload-cube cssload-c1"></div>
  <div class="cssload-cube cssload-c2"></div>
  <div class="cssload-cube cssload-c4"></div>
  <div class="cssload-cube cssload-c3"></div>
</div>

