<h2>{{title}}</h2>
<blockquote>Not all indicators have complete data sets for every country/year, so many chart combinations by be incomplete.</blockquote>
<query-builder (serviceStartEvent)="startLoading($event)" (serviceEndEvent)="wdbServiceFinished($event)"></query-builder>
<div *ngIf="loading" class="cssload-thecube">
  <div class="cssload-cube cssload-c1"></div>
  <div class="cssload-cube cssload-c2"></div>
  <div class="cssload-cube cssload-c4"></div>
  <div class="cssload-cube cssload-c3"></div>
</div>
<c3-display  [dataLoaded]="wdbServiceComplete" (chartRenderComplete)="stopLoadingAnimation($event)"></c3-display>
<div class="container">
  <div class="center-align">
    <i class="material-icons glyphSize">assessment</i>
    Built by <a href="https://www.angularattack.com/entries/2582-atlas">the Atlas Team</a>
    <i class="material-icons glyphSize">assessment</i>
  </div>
</div>